# Core Dependencies
node_modules/
jspm_packages/

# Logs and Debug
logs
*.log
npm-debug.log*
yarn-debug.log*

# Build and Coverage
dist
build/Release
coverage
.nyc_output

# Environment Variables
.env
.env.test

# IDE/Tools
.vscode-test
.eslintcache
.node_repl_history

# Yarn
.pnp.*
.yarn/

#Wrangler.jsonc
wrangler.jsonc